# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
*.tmp
*.temp